// Fonts families
$font-primary: 'Roboto Regular',sans-serif;
$font-primary-Bold: 'Roboto Bold',sans-serif;
$font-primary-Medium: 'Roboto Medium',sans-serif;
$font-primary-Black: 'Roboto Black',sans-serif;
$font-SegoeUI-Bold: 'Segoe UI Bold',sans-serif;

// Font-size base
$base-font: 14px !default;
$base-design-font: 14px !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  x1: 320px,
  xs: 375px,
  s: 640px,
  m: 960px,
  l: 1200px,
  xl: 1600px
) !default;
